*{
    padding:0;
    margin:0;
}
.game{
    margin:auto;
    margin-top:10%;
    width:500px;
    height:300px;
    overflow: hidden;
    border-bottom: 1px solid;
}
.character{
    height:50px;
    width:20px;
    position: relative;
    top:250px;
}
.enemy{
    height: 25px;
    width:20px;
    background-color: red;
    position: relative;
    top:225px;
    left: 500px;
}
.play{
    animation: enemy 1s infinite linear;
}
.animation{
    animation: jump 0.5s linear;
}

@keyframes enemy {
    0%{left:500px;}
    100%{left:-100px;}
}
@keyframes jump {
    0%{top:250px;}
    33%{top:200px;}
    66%{top:200px;}
    100%{top:250px;}
}
.button{
    margin:auto;
    width:250px;
    height: 30px;
    border-radius: 5px;
    padding-top:0.5rem;
    color:white;
    background-color: green;
    text-align: center;
}
.restart, .youDied{
    width:100px;
    height: 30px;
    border-radius: 5px;
    color:white;
    background-color: green;
    text-align: center;
    padding-top:0.5rem;
    margin:auto;
    margin-top:2rem;
    display: none;
}
.youDied{
    width:220px;
    padding-top: -1rem;
    margin-top: -2.5rem;
}
.score{
    margin-top:10%;
    display: none;
}